.navbar{
    height: 10rem;
    display: flex;
    width: 100%;
    background-color: #003580;
padding-top: 1rem;
    justify-content: space-between;
  }
.navItems{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  margin-right: 1.7rem;
}  
.name-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:1rem;
  margin-right:1.5rem;
}

.name-text >p{
  font-size: 1.2rem;
}
  .navContainer{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo{
    font-size: 1.7rem;
    margin-left: 2.2rem;
    font-weight: 500;
    color:white;
    text-decoration:none;
  }
  
  .navButton{
    width: 8rem ;
    margin-left: 20px;
    border: 1px solid whitesmoke;
height: 2.1rem;
background-color: #003580;
    border-radius:.2rem;
    padding: 5px 6px;
    cursor: pointer;
    color: whitesmoke;
  }