*{
    margin: 0;
    padding:0;
    border:0;
    outline:0;
    list-style:none;
    box-sizing:border-box;
    text-decoration:none;
    box-sizing: border-box;
  }
  html{
    scroll-behavior: smooth;
  }
body{
  background-color: rgb(245, 243, 243);
}
html, body {
  overflow-x: hidden;
  
}
::-webkit-scrollbar{
  display:none;
}